{% if site.valine.enable %}
<header class="post-header">
<h1 class="post-title"> 🥳  评论区 </h1>
</header>
<div id="vcomments"></div>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<script>
    new Valine({
        el: '#vcomments',
        app_id: '{{ site.valine.leancloud_appid }}',   //这里变量的取值在网站配置文件里_config.yml
        app_key: '{{ site.valine.leancloud_appkey }}', //这里变量的取值在网站配置文件里_config.yml
        placeholder:'{{ site.valine.placeholder }}',    //这里变量的取值在网站配置文件里_config.yml
        visitor: '{{ site.valine.visitor }}',           //是否阅读量统计
        avatar: 'identicon',             //头像设置
        notify: true,             //邮箱提醒
        verify: true,             //验证码设置
    });</script>
{% endif %}
