---
---

@import "{{ site.theme }}";

.post-content-left {
    @extend .post-content;
    margin-bottom: $spacing-unit;
    float: left;
    width: 75%;
    @media screen and (max-width: $on-palm) {
        position:static;
        width: 100%;
    }
}

.toc-right {
    float: right;
    width: 25%;
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
    @media screen and (max-width: $on-palm) {
        position:static;
        width: 100%;
    }
}

.toc {
    position:static;
    width: 100%;
}

.home-intro-box {
    display: flex;
    @media screen and (max-width: $on-palm) {
        flex-direction: column;
    }
}
