---
layout: default
---

{%- if page.title -%}
<h1 class="page-heading">&#127912; {{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.albums.size > 0 -%}
<ul>
    {%- for album in site.albums -%}
    <li>
        <a href="{{ album.url | prepend: site.baseurl }}">{{ album.title }}</a>
    </li>
    {%- endfor -%}
</ul>

<svg class="svg-icon orange">
    <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
    <svg><span class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></span>
{%- endif -%}
