---
layout: default
---

<div class="home">

  <div class="home-intro-box">
    <div style="flex: 1; padding-right: 10px">
      <img src="/assets/index/me.jpg" />
    </div>
    <div style="flex: 1; overflow: hidden;">
      <p>I'm a Ph.D candidate in the Textile Institute at Donghua University in Shanghai, China.</p>
      <p>My research interests lie at the understanding of fashion images, text descrptions and fashion compatibility
        and recommendation based on different modalilites of information.</p>
    </div>
  </div>

  <br>

  {{ content }}

</div>
