---
layout: default
---

<div class="home">

  <div class="home-intro-box">
    <div style="flex: 1; padding-right: 10px">
      <img src="/assets/index/me.jpg" />
    </div>
    <div style="flex: 1; overflow: hidden;">
      <p>I'm a Ph.D candidate at the College of Textile, Donghua University in Shanghai, China.</p>
      <p>My research interest is an interdisciplinary study between fashion, multimedia, and artificial intelligence. It includes recognition and understanding of fashion images, developing methods to combine information from different modalities like visual and textual information, fashion compatibility and recommendation system, and fashion image generation.</p>
    </div>
  </div>

  <br>

  {{ content }}

</div>
